@import "tailwindcss";
@keyframes fadeOut {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.animation-fadeInOut {
  animation: fadeOut 0.25s ease-in-out;
}
