* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100dvw;
    height: 100dvh;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(
        210deg,
        #528b9b 0%,
        #76b596 75%,
        #c6dc8c 100%
    );

    display: flex;
}
form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding: 2rem;
    margin: auto;
    background-color: white;
    width: 30dvw;
    height: auto;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 0px 25px 5px rgba(111,111,111,0.85);
}
.login-title {
    font-size: 36px;
    font-weight: bold;
}
.input-form {
    display: block;
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    border-radius: 15px;
    border: #555 2px solid;
    padding: 5px 20px;
}
.btn-submit {
    width: 50%;
    height: 3rem;
    background-color: #0b847a;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    border: none;
    margin: 0 auto;
    transition: .15s linear;
}
.btn-submit:hover {
    background-color: #76b596;
}