* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100dvw;
    height: 100dvh;
    background-color: #ededed;
    padding: 50px;
}
.grid-container {
    background-color: #fff;
    padding: 10px;
    border: black 2px solid;
    height: auto;

    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
}
.item {
    min-width: auto;
    height: 100px;
    background-color: dodgerblue;
    border-radius: 10px;
}
.item1 {
    grid-column: 1/3;
}
.item2 {
    height: auto;
    grid-column: 3/4;
    grid-row: 1/3;
}
.item3 {
    grid-column: 4/6;
}
.item9 {
    grid-column: 2/5;
}