body {
    background-color: #1F2A36;
}
main {
    display: flex;
    width: 100dvw;
    height: calc(100dvh - 100px);
}
.content-box {
    margin: auto;
    width: 800px;
}
h3 {
    color: #fff;
    text-align: center;
    font-size: 60px;
}
p {
    margin-top: 20px;
    color: #fff;
    text-align: center;
    font-size: 24px;
}