.bc-image_home {
    position: fixed;
    
    width: 100dvw;
    height: 100dvh;
    object-fit: cover;

    filter: brightness(0.4) blur(3px);
    transform: scale(1.05);
    z-index: -1;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100dvh - 100px);
}
.main-title-container h1, .main-title-container h2 {
    text-align: center;
    color: #4a99f8;
}
.main-title-container h1 {
    font-size: 7rem;
}
.main-title-container h2 {
    font-size: 3rem;
}