.icon-container {
    display: flex;
}
.icon-container h2 {
    margin-left: 10px;
    align-self: center;
}
.music-icon {
    width: 40px;
    height: auto;
}
.nav-container {
    background-color: #fdfdfd;
    height: 100px;
    padding: 0px 120px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list {
    list-style: none;
    display: flex;
}
.nav-list li {
    justify-content: space-around;
    margin: 0px 10px;
}
.nav-list a {
    text-decoration: none;
    color: #4a99f8;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    transition: color 0.3s ease-in-out;
}
.nav-list a:hover {
    color: #166bd3;
}
.nav-list a::after {
    content: "";
    background-color: #166bd3;
    position: absolute;
    width: 100%;
    bottom: -2px;
    left: 0;
    height: 2px;

    transform: scaleX(0); /* Lo oculta */
    transition: transform 0.3s;
}
.nav-list a:hover::after {
    transform: scaleX(1); /* Lo muestra */
}
.nav-btn {
    all: unset;
    box-sizing: border-box;
    width: 100px;
    padding: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 15px;
    background-color: #4a99f8;
    color: #fdfdfd;
    font-size: 20px;
    font-weight: 700;

    transition: background-color 0.3s ease-in-out, scale 0.2s ease-in-out;

}
.nav-btn:hover {
    scale: 1.05;
    background-color: #166bd3;
}