body {
    background-color: #1F2A36;
}
main {
    width: 100dvw;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;

    display: grid;
    gap: 20px;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* --- CARD --- */
.card {
    height: 420px;
    background-color: #ffffff;
    border-radius: 18px;
    overflow: hidden;

    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.278);
}

/* --- IMAGE SECTION --- */
.card-img_box {
    height: 230px;
}
.card-img_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

/* --- CONTENT SECTION --- */
.card-info {
    padding: 18px;
}
.card-info h5 {
    font-size: 22px;
    font-weight: bold;
    color: #4a99f8;
}
.card-info p {
    margin-top: 8px;
    font-size: 14px;
    text-align: justify;
    line-height: 1.4;
    color: #4a4a4a;
}

/* --- PRICE ROW --- */
.card-price-row {
    padding: 0 18px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-price-row span {
    font-weight: 900;
    font-size: 22px;
    color: #d84a4a;
}
.card-price-row button {
    all: unset;
    cursor: pointer;

    padding: 8px 16px;
    border-radius: 10px;

    background-color: #d84a4a;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
    transition: background-color 0.25s ease, transform 0.2s ease;
}
.card-price-row button:hover {
    background-color: #b73232;
    transform: scale(1.05);
}