* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100dvw;
    height: 100dvh;
    background-color: #ededed;
    padding: 50px;
}

.grid-container {
    margin: 50px 0px;
    border: #000 2px solid;
    background-color: #fff;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
}
.item {
    background-color:deepskyblue;
    border-radius: 15px;

    font-size: 20px;
    font-weight: 900;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}
.item:nth-child(even) {
    background-color:cornflowerblue;
}

.grid-secciones {
    margin: 50px 0px;
    border: #000 2px solid;
    background-color: #fff;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 100px);
    gap: 10px;
}
.grid-secciones div {
    border-radius: 10px;
    color: #555;
    font-size: 20px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header {
    background-color:bisque;
    grid-column: 1/5;
    grid-row: 1/2;
}
.main {
    background-color: darkorange;
    grid-column: 2/5;
    grid-row: 2/5;
}
.aside {
    background-color: khaki;
    grid-column: 1/2;
    grid-row: 2/5;
}
.footer {
    background-color: sandybrown;
    grid-column: 1/5;
    grid-row: 5/6;
}

.grid-auto-fit {
    margin: 50px 0px;
    padding: 10px;
    background-color: #fff;
    border: #000 2px solid;

    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
}
.card {
    background-color:#82c8e0;
    color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}